 .header{
   background-color:darkgray;
 }
 .footer{
   margin-left: 10px;
   background-color: cadetblue;
   text-align: center;
 }
 .btn{
   background-color: springgreen;
   text-align: center;
   margin: 10px;
 }