.header {
  background-color: blueviolet;
  padding: 3px;
  color: white;
}

.footer {
  background-color: brown;
  padding: 3px;
  color: white;
}
.navbar {
  background-color: greenyellow;
  text-align: center;
}
