body {
  background-color: white;
  color: white;
  
}

.movApp {
  text-align: center;
}

.movApp >h2 {
   margin: 0px;
   background-color: brown;
   padding: 20px;

}











div > ul {
  display: flex;
  list-style: none;
  justify-content: center;
  background-color: Brown;
  padding: 20px;
}

div > ul > li {
  justify-content: center;
  padding-left: 40px;
  font-size: 20px;
}
a {
  text-decoration: none;
}
/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: blue;
}
