.movApp {
  text-align: center;
}

.movApp > h2 {
  margin: 0px;
  background-color: brown;
  padding: 20px;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 16px;
}

.main1 {
  text-align: start;
  background-color: black;
  border: 10px solid palevioletred;
  padding: 5px;
  font-weight: bold;
}
