 /* *{
    padding: 0%;
    margin: 0%;
} */

/* Selector{
    property
} */

/* css Preferances
id
class
tag name 
!important*/

/* CSS Color pattern

RGB(0-255,0-255,0-255)
RGBA(0-255,0-255,0-255 , alpha)
HSL(0-360,0-100%,0-100%)
HSL alpha(0-360,0-100%,0-100% alpha)
HEX(#rrggbb)(#000000->Black)
*/


/* #p1{
    /* background-color: yellow; */
    /* background-image: url(color.png);
    color: white;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position:;


}
.para1{
    background-color: red;
}
#p2{
    background-color:yellow; 
    text-decoration: underline;
} */ 
/* #p1 {
    border-style: solid dotted dashed none;
    border-color: indigo red seagreen hotpink;
    border-width: 10px 7px 5px 9px;

    } */
    